@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}

html{
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

/* overflow property controls what happens to content that is too big 
to fit into an area. hidden-> content will be cut off at the boundaries of the element*/
body{
    overflow-x: hidden;
}

section{
    /* rem is font size of root element (helps in scalability) */
    overflow: hidden;
    position: absolute;
    top: 12rem;
    height: 81.7%;
    width: 100%;
    background-image: linear-gradient(to bottom, #8b008b, #8b008b, #8b008b, #9400d3);
}

img{
    width: 100%;
    max-width: 100%; /* Makes sure that even if the image is larger than the size of the section it does not overflow its parent element*/
}

a{
    text-decoration: none;
}

p{
    font-size: 1.6rem;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2.4rem;
}

/* Header Styles*/
header{
    width: 100%;
    position: absolute; /* An element with position: absolute; is positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed). However; if an absolute positioned element has no positioned ancestors, it uses the document body, and moves along with page scrolling.*/
    /* starts at zero from the top and left*/
    top: 0;
    left: 0;
    z-index: 1; /*The z-index property specifies the stack order of an element.*/
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), transparent);
    background-color: #8b008b;
}

.logo{
    width: 20rem;
    height: 12rem;
}

.nav{
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle{
    color: white;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* make sure it's perfectly centered in the header*/
    right: 2.5rem;
    cursor: pointer; /*goves illusion it is clickable*/
    z-index: 1500;
}

.menu-toggle .fa-times{
    display: none;
}

.nav-list{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh; /* viewport height*/
    background-color: var(--main-font-color-dark);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around; /*	Items are positioned with space before, between, and after the lines*/
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
}

.nav::before{
    /* changing color behind when navigation is open*/
    content: ''; /* so that it shows up*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
    opacity: 0; /* use js to make it visible later when its used*/
    transform: scale(0); /* even though we can't see it, its there so we scale it to zero to hide it*/
    transition: opacity .5s;
}

.open .fa-times{
    display: block;
}

.open .fa-bars{
    display: none;
}

.open .nav-list{
    transform: translateX(0);
}

.open .nav::before{
    opacity: 1;
    transform: scale(1);
}

.nav-item{
    border-bottom: 2px solid rgba(255,255,255,.3);
}

.nav-link{
    display: block;
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color .5s;
}

.nav-link:hover{
    color: var(--secondary-font-color);
}

.chat-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.left-panel {
    min-height: 77vh;
    flex: 1;
}

.current-user {
    height: 4.2rem;
    margin: 0.25rem;
    padding: 0.5rem 0 0 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: #d7dddf;
    border: none;
    border-radius: 15px;
}

.right-panel {
    height: 77vh;
    min-height: 77vh;
    flex: 4;
}

.chat-log {
    min-height: 40rem;
    height: 40rem;
    margin: 0.25rem;
    overflow-y: auto;
    border: none;
    border-radius: 15px;
    background-color: white;
    padding: 1rem 0 1rem 1rem;
    font-size: 2rem;
}

/* Scroll Bar CSS using pseudo element */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* Scroll bar end */

.text-msg {
    background-color: #c3c8ca;
    color: black;
    font-size: 1.5rem;
    border-radius: 0px 13px 13px 13px;
    width: fit-content;
    max-width: 30vw;
    height: fit-content;
    padding: 10px;
    margin: 1px 15px;
    clear: both;
}

.sender-msg {
    background-image: linear-gradient(to top right, #dcd0ff,  #ad7ac4);
    float: right;
    border-radius: 10px 0px 10px 10px;
}

.space {
    clear: both;
}

.space::after{
    content:'\0200B';
}

.friend {
    width: 100%;
    height: fit-content;
    padding: 10px;
    text-align: left;
    border-radius: 15px;
    outline: none;
    color: #252525;
}

.friend:hover {
    background-color: #252525;
    color: white;
}

li {
    list-style-type: none;
}

.msg-input-box {
    height: 6rem;
    border-radius: 3rem;
    border: none;
    margin: 2rem 0;
    background-color: #d7dddf;
    position: relative;
    bottom: 1.1rem;

}

#input-chat {
    width: 92%;
    height: 6rem;
    border-radius: 3rem;
    border: none;
    padding-left: 1rem;
    outline: none;
}

#send-msg {
    margin: 1.5vh;
    float: right;
    height: 4rem;
    width: 4rem;
    border: none;
    border-radius: 3rem;
    background-image: linear-gradient(to right, #8b008b,  #9400d3);
    color: white;
    position: relative;
    bottom: 6rem;
    right: 1.1rem;
}

/* Media Queries */
/* Incidates that if the screen size is >= min-width then below properties will be applied*/
@media screen and (min-width: 900px){         
    .menu-toggle{
        display: none;
    }

    .nav{
        justify-content: space-between;
    }

    .nav-list{
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }

    .nav-item{
        margin: 0 2.4rem;
        border: 0;
    }

    .nav-item:last-child{
        margin-right: 0;
    }

    .nav-link{
        font-size: 1.3rem;
    }

    .active{
        position: relative;
    }

    .active::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        left: 0;
        bottom: -3px;
    }
}